*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f5f7fb;
}

.header{
    text-align:center;
    padding:40px 20px;
}

.header h1{
    color:#1a73e8;
    margin-bottom:10px;
}

.container{
    width:90%;
    max-width:1000px;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:20px;
}

.card{
    background:white;
    padding:40px;
    border-radius:15px;

    text-align:center;

    cursor:pointer;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}
